.lnb {
  $lnb-link-padding: 8px;
  $grid-margin: $sm-margin + $gutter / 2;

  overflow-x: auto;

  @include no-scrollbar;

  &-list {
    @include inline-flexbox(start);
    margin-left: -$grid-margin;
    padding: 0 #{$grid-margin - $lnb-link-padding};
    height: 40px;
    white-space: nowrap;
    border-bottom: 1px solid $border;
  }

  &-item {
    a {
      @include inline-flexbox;
      @include text-style(13, $dark);
      padding: 0 $lnb-link-padding;
      height: 40px;
      border-bottom: 2px solid transparent;
      font-weight: 700;
      transition: color 200ms ease-in-out;
    }

    &.is-active {
      a {
        border-bottom-color: $blue;
        color: $blue;
      }
    }
  }
}
