.lnb {
  $lnb-link-padding: 8px;
  $grid-margin: $sm-margin + $gutter / 2;

  overflow-x: auto;

  @include no-scrollbar;
  background-color: $white;

  &-list {
    @include inline-flexbox(start);
    margin-left: -$grid-margin;
    padding: 0 #{$grid-margin - $lnb-link-padding};
    height: $lnb-height-sm;
    white-space: nowrap;
    border-bottom: 1px solid $border;
  }

  &-item {
    a {
      @include inline-flexbox;
      @include text-style(13, $dark);
      padding: 0 $lnb-link-padding;
      height: $lnb-height-sm;
      border-bottom: 2px solid transparent;
      font-weight: 700;
      transition: color 200ms ease-in-out;

      &:hover {
        color: $blue;
      }
    }

    &.is-active {
      a {
        border-bottom-color: $blue;
        color: $blue;
      }
    }
  }

  @include responsive(T) {
    height: $lnb-height-md;
    border-bottom: 2px solid $border;
    overflow-x: visible;

    &-list {
      height: auto;
      margin-left: 0;
      padding: 0;
      border-bottom: 0;
    }

    &-item {
      a {
        @include text-style(14);
        height: $lnb-height-md;
      }
    }
  }
}
